<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Games - Error</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
    
    <header>
        <div class="header">
            <div>
                <span id="logo">LOGO</span>
            </div>
            <nav class="header-navigation">
                <div class="nav-elements">
                    <ul>
                        <li class="ul-login"><a th:href="@{/}">Home</a></li>
                        <li class="ul-login"><a th:href="@{/aboutus}">About us</a></li>
                        <li class="ul-login relative"><a href="#" onclick="toggleSubMenu(event)" class="focus:outline-none">Jogos</a></li>
                        <li id="btn-contact" class="ul-login"><a th:href="@{/contact}" >Contact us</a></li> 
                        <li><a th:href="@{/login}" style="padding-top: 20px;" id="login-hover">
                                <img th:src="@{/images/User_fill.png}" alt="Login icon">
                            </a>
                        </li>
                    </ul>                           
                </div>
            </nav>
        </div>
        <!--Submenu-->
        <ul id="submenu" class="hidden absolute text-white mt-2 ml-4 p-2 rounded shadow-xl shadow-blue-950/90 shadow-inner" style="right: 350px; top: 80px;">
            <li><a th:href="@{/jogos/novo}" class="block px-4 py-2 rounded hover:bg-orange-500 ">Cadastrar</a></li>
            <li><a th:href="@{/jogos}" class="block px-4 py-2 rounded hover:bg-orange-500 ">Listar</a></li>
        </ul>
    </header>


    <main class="error-message">
        <div class="error-container">
            <h1>404</h1>
            <h2>A página que você está procurando não existe.</h2>
            <p>Você pode ter digitado incorretamente o endereço ou a página pode ter sido movida.</p>
            <a th:href="@{/}">Volte à página inicial</a>
        </div>  

        <div class="box-image">
            <img id="error-image" th:src="@{/images/404image.png}" alt="Imagem de erro 404 ao carregar a página">
        </div>
    </main>

    <footer>
        <div class="footer-section">
            <div class="footer-1">
                <span id="logo-footer">LOGO</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <span>@Logo</span>
            </div>

            <div class="footer-2">
                <a class="about-us">About us</a>
                <ul>
                    <li><a href="">Zeux</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Contact us</a></li>
                </ul>
            </div>

            <div class="footer-3">
                <span class="contact-us">Contact us</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <span>+908 89097 890</span>
            </div>

            <div class="footer-4">
                <a class="social-icon" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="social-icon" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="social-icon" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="footer-5">
            <span>Copyright ® 2021 Lorem All rights Rcerved</span>
        </div>
    </footer>

    <script th:src="@{/js/menu.js}"></script>

</body>
</html>