<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segurança em Sistemas - Contact us</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/contact.css}">
    <!--<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">-->
</head>
<body>
    <header>
        <div class="header">
            <div>
                <span id="logo">LOGO</span>
            </div>
            <nav class="header-navigation">
                <div class="nav-elements">
                    <ul>
                        <li class="ul-login"><a th:href="@{/}">Home</a></li>
                        <li class="ul-login"><a th:href="@{/aboutus}">About us</a></li>
                        <li class="ul-login relative"><a href="#" onclick="toggleSubMenu(event)" class="focus:outline-none">Jogos</a></li>
                        <li id="btn-contact" class="ul-login"><a th:href="@{/contact}" >Contact us</a></li> 
                        <li><a th:href="@{/login}" style="padding-top: 20px;" id="login-hover">
                                <img th:src="@{/images/User_fill.png}" alt="Login icon">
                            </a>
                        </li>
                    </ul>                           
                </div>
            </nav>
        </div>
        <!--Submenu-->
        <ul id="submenu" class="hidden absolute text-white mt-2 ml-4 p-2 rounded shadow-xl shadow-blue-950/90 shadow-inner" style="right: 350px; top: 80px;">
            <li><a th:href="@{/jogos/novo}" class="block px-4 py-2 rounded hover:bg-orange-500 ">Cadastrar</a></li>
            <li><a th:href="@{/jogos}" class="block px-4 py-2 rounded hover:bg-orange-500 ">Listar</a></li>
        </ul>
    </header>

    <main>

        <section id="our-places">
            <div class="our-places-title">
                <span><a class="our-places-home" th:href="@{/}">Home</a>  > <a th:href="@{/contact}">Contact us</a></span>
                <h1>Lorem Ipsum is simply dummy text of the printing and.</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <img th:src="@{/images/Huge Global.png}" alt="Mapa mundial com a localização dos nossos escritórios.">

            <div class="follow-contact">
                <div class="follow-us">
                    <span class="follow-us-text">Follow us</span>
                    <div class="social-media">
                        <a class="social-icon" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="social-icon" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="social-icon" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a> 
                    </div>
                </div>

                <div class="follow-fone">
                    <span class="fone-icon"> 
                        <img th:src="@{/images/phone 1.png}" alt="Ícone de um telefone">
                        <span>+94 4444 5555 6</span>
                    </span>
                </div>

                <div class="folow-gps">
                    <span class="gps-icon">
                        <img th:src="@{/images/gps 1.png}" alt="Ícone de localização">
                        <span>but also the leap into electronic typesetting</span>
                    </span>
                </div>
            </div>
        </section>

        <section id="form_contact">

            <img id="linha-laranja" th:src="@{/images/Vector 3.png}" alt="Uma linha fina laranja ondulada">
            
            <h2>Say hello</h2>
            <p>Lorem Ipsum is simply dummy text of the printing .</p>

            <form action="" class="form" id="formulario">
                <div class="form-container">

                    <div class="form-nome">
                        <div class="form-campos">
                            <label for="first-name">First Name</label>
                            <input type="text" id="first-name" name="first-name">
                        </div>
                        <div class="form-campos">
                            <label for="last-name">Last Name</label>
                            <input type="text" id="last-name" name="last-name">
                        </div>
                    </div>
                    
                    <div class="form-campos">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" name="email">
                    </div>
                    
                    <div class="form-campos">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" cols="60" rows="10"></textarea>
                    </div>

                    <div class="btn-form">
                        <button type="submit" id="btn-enviar">Get in touch</button>
                    </div>
                    
                </div>
                  
            </form>

            <img id="linha-branca" th:src="@{/images/Vector 4.png}" alt="Linha fina branca ondulada">

        </section>

        <section class="folow-recent-info">
            <div class="recent-info-title">
                <h2>Lorem Ipsum</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
    
            <div id="recent-subs">
                <div class="recent-info pt-9">
                    <h2>Stay in the loop</h2>
                    <p>Subscribe to receive the latest news and updates about TDA. We promise not to spam you! </p>
                </div>
    
                <div class="recent-container">
                    <div class="recent-subs-form">
                        <form action="" class="form-email">
                            <input id="email-recentproj" type="email" placeholder="Enter email address">
                            <button type="submit" id="email-btn">Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <footer>
        <div class="footer-section">
            <div class="footer-1">
                <span id="logo-footer">LOGO</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <span>@Logo</span>
            </div>

            <div class="footer-2">
                <a class="about-us">About us</a>
                <ul>
                    <li><a href="">Zeux</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Contact us</a></li>
                </ul>
            </div>

            <div class="footer-3">
                <span class="contact-us">Contact us</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <span>+908 89097 890</span>
            </div>

            <div class="footer-4">
                <a class="social-icon" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="social-icon" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="social-icon" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="footer-5">
            <span>Copyright ® 2021 Lorem All rights Rcerved</span>
        </div>
    </footer>

    <!--<script src="js/script.js"></script>-->
    <script th:src="@{/js/menu.js}"></script>
</body>
</html>